:root {
    --back-color: #000000;
    --fore-color: #ffff00;
    --header-fore-color:#ffff00;
    --header-back-color:#000000;
    --secondary-back-color:#000000;
    --form-fore-color:#ffff00;
    --form-back-color:#000000;
    --toast-fore-color:#ffff00;
    --toast-back-color:#4f7272;
    --pre-color:#ffff00;
    --footer-back-color:black;
    --footer-fore-color:yellow;

}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
p{
    text-align: center;
}
